{% extends 'base.html' %}
{% block title %}About Me{% endblock %}

{% block content %}
<div class="page-container" id="about">
    <h2>About Me</h2>
    <div class="card">
        <p>I am an aspiring Data Analyst with a passion for extracting meaningful insights from complex datasets. My experience with Python, SQL, and Tableau, combined with my academic background in computer applications, has equipped me with the skills to collect, clean, and analyze data effectively. I am eager to contribute to a team that values data-driven decision-making and to continue developing my skills in the field of data analytics.</p>
    </div>
</div>
{% endblock %}
