{% extends 'base.html' %}
{% block title %}Education{% endblock %}

{% block content %}
<h2>Education</h2>
<div class="education-container">
    <div class="card">
        <h3>Dr MGR Educational and Research Institute of Technology</h3>
        <p>BCA in Computer Application (2021-2024)</p>
        <p>CGPA – 7.29</p>
    </div>
    <div class="card">
        <h3>Dr SNS Rajalakshmi Arts and Science of College</h3>
        <p>MCA in Computer Application (2024-2026)</p>
        <p>CGPA – 85%</p>
    </div>
</div>
{% endblock %}
