{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="home-container">
    <h1>HASWANTH S</h1>
    <p>Aspiring Data Analyst | Python | SQL | Tableau</p>
    <div class="profile-links">
        <a href="https://www.linkedin.com/in/haswanth-s-78117224b/" target="_blank">LinkedIn</a>
        <a href="https://github.com/Haswanth1234?tab=overview&from=2025-08-01&to=2025-08-08" target="_blank">GitHub</a>
        <a href="https://www.hackerrank.com/profile/shaswanth358" target="_blank">HackerRank</a>   
    </div>
</div>
{% endblock %}